<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>桶桶费用管理系统</title>
<script>
function haha()
{
    alert("用你妹呀！这么短时间内你能做个系统出来么？你是在逗我玩吗？");
}
</script>
</head>
<body>
<form action="">
<p><font size="40" color="green" text-align ="center"><b>桶桶费用管理系统</b></font></p>
<p>成员：杨浩 ，李冬，李丹，李志强，牛犇</p>
<p>作用：吃饭开销统计、报销、鬼混申请等</p>
<input type="submit" value="点此进入系统" onclick="haha()">
</form>
</body>
</html>
